In [1]:
print("hello")

hello

In [2]:
Name = "Rohit Gaikwad"
Name

'Rohit Gaikwad'

In [4]:
print("Trainer name is:", Name)

Trainer name is: Rohit Gaikwad

In [5]:
Name ="Rohit gaikwad"
age = 40
city = "Mumbai"
print("Trainer name is", Name, "and he is", age , "years old")

Trainer name is Rohit gaikwad and he is 40 years old

In [7]:
print("Trainer name is  {} and he is {} years old and he is from {}".format(Name,age,city))

Trainer name is  Rohit gaikwad and he is 40 years old and he is from Mumbai

In [8]:
print("Trainer name is {2} and he is {0} years old and he is from {1}".format(age,city,Name))

Trainer name is Rohit gaikwad and he is 40 years old and he is from Mumbai

In [9]:
price = 565.6587432
print("the product's price is : {0:.3f}".format(price))

the product's price is : 565.659

In [11]:
round(price,2)

565.66

In [12]:
# input function

In [14]:
name = input("Enter your Name")
age = int(input("Enter your age:"))
age = age+1
print("The type of name is :",type(name))
print("The type of age is :", type(age))
print("Age is:", age)

Enter your NameRohit
Enter your age:40
The type of name is : <class 'str'>
The type of age is : <class 'int'>
Age is: 41

In [15]:
#range function

In [19]:
for x in range(1,101):
    print(x,end = " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [20]:
for x in range(1,101,2):
    print(x,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [21]:
#loops

In [22]:
'''
while
for
'''

'\nwhile\nfor\n'

In [24]:
x=1
while x<10:
    print(x)
    x=x+1
else:
    print("the value of the x is :", x)

1
2
3
4
5
6
7
8
9
the value of the x is : 10

In [25]:
info=['Rohit','Data analyst','Python',2022]

In [26]:
for x in info:
    print(x)

Rohit
Data analyst
Python
2022

In [27]:
i = 1
for x in range(1,101):
    if i<=10:
        print(x,end=" ")
        i=i+1
    else:
        print('\n',x,end=" ")
        i =1

1 2 3 4 5 6 7 8 9 10
 11 12 13 14 15 16 17 18 19 20 21
 22 23 24 25 26 27 28 29 30 31 32
 33 34 35 36 37 38 39 40 41 42 43
 44 45 46 47 48 49 50 51 52 53 54
 55 56 57 58 59 60 61 62 63 64 65
 66 67 68 69 70 71 72 73 74 75 76
 77 78 79 80 81 82 83 84 85 86 87
 88 89 90 91 92 93 94 95 96 97 98
 99 100

In [28]:
# flow control statements

In [29]:
'''
break
continue
'''

'\nbreak\ncontinue\n'

In [30]:
x = 1
while x <=10:
    if x ==5:
        break
    print(x)
    x=x+1
print("this is the next line to the loop")
print("thanx")

1
2
3
4
this is the next line to the loop
thanx

In [32]:
x=0
while x<=10:
    x=x+1
    if x==5:
        continue
    print(x)
print("this is the next line to the loop")
print("thanx")

1
2
3
4
6
7
8
9
10
11
this is the next line to the loop
thanx

In [33]:
5+6

11

In [34]:
5-6

-1

In [35]:
2**3

8

In [36]:
11%2

1

In [37]:
11/2

5.5

In [38]:
11//2

5